.App {
	margin-bottom: 50px;
}
table {
	max-width: 1000px;
	margin: auto;
	border-collapse: collapse;
	width: 100%;
	margin-top: 50px;
}

th {
	padding: 10px 0px;
	background-color: blue;
	color: white;
	font-weight: bold;
	text-align: left;
	font-size: 20px;
}

td,
th {
	border: 2px solid blue;
	padding: 8px;
}

.form {
	max-width: 760px;
	padding: 20px;
	border: 2px solid black;
	border-radius: 15px;
	margin: 30px auto;
}

.form-input {
	max-width: 400px;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.form-input-group {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.form-input-group > input {
	grid-column: span 2 / span 2;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-container > button {
	border: 1px solid blue;
	background-color: blue;
	padding: 10px 15px;
	border-radius: 10px;
	font-weight: bold;
	color: white;
}

.action {
	display: flex;
	gap: 10px;
}

.btn {
	padding: 10px 20px;
	border: none;
	color: white;
	font-weight: bold;
}

.btn-edit{
	background-color: rgb(185, 126, 17);
}

.btn-delete{
	background-color: rgb(197, 37, 37);
}
